version: '3.9'

services:
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: siniestros-sql
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Password123!
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  sql-init:
    image: mcr.microsoft.com/mssql-tools
    depends_on:
      - sqlserver
    volumes:
      - ./init.sql:/init.sql
    entrypoint: >
      /bin/bash -c "
      sleep 20;
      /opt/mssql-tools/bin/sqlcmd -S sqlserver -U sa -P Password123! -i /init.sql;
      exit 0;
      "

  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: siniestros-api
    depends_on:
      - sqlserver
    environment:
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=SiniestrosVialesBD;User Id=sa;Password=Password123!;TrustServerCertificate=True
    ports:
      - "8080:8080"

volumes:
  sql_data:
